<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>登录</title>
    <%= stylesheet_link_tag 'style' %>
  </head>
  <body>
    <div id="main">
      <div id="container">
        <div id="header">
          <div>
            <h1><a href="index.html">M<span>ETPLATE</span></a></h1>
            <ul>
              <li class="blank">
                <a href="index.html" class="on"><span>主页</span></a>
              </li>
              <li>
                <a href="about.html"><span>关于</span></a>
              </li>
              <li>
                <a href="contact.html"><span>联系</span></a>
              </li>
            </ul>
          </div>
        </div>
        <div id="banner">
          <div id="image">
            <div>
              <h2>来吧</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce ut dolor. Morbi
                consectetuer. Curabitur erat sapien, fermentum ut, feugiat vitae, aliquet at, eros.
              </p>
              <p>
                Phasellus volutpat enim sed diam. Vestibulum orci urna, adipiscing nec, bibendum vitae,
                elementum at, est. Sed ac arcu pulvinar lacus dignissim lobortis. Integer dolor nulla,
                convallis a, pharetra vitae, auctor vel, metus.
              </p>
            </div>
          </div>
        </div>
        <%= yield  %>


        <div id="footer">
          <div>
            <div class="footerGlow">&nbsp;</div>
            <span>© Copyright 2008</span>
            <p class="right">
              Design by <a href="http://www.pixelfuze.co.uk">PixelFuze</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
