<!-- start footer -->
<div id="footer">
	  <div id="footer-wrap">
	      <p id="legal">(c) 2007 YourSite. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	  </div>
</div>
<!-- end footer -->
</body>
</html>
