<li id="search">
  <h2>搜索</h2>
  <% form_tag "/search/blog_search" do %>
    <fieldset>
      <input type="text" id="s" name="s" value="" />
      <input type="submit" id="x" value="搜 索" />
    </fieldset>
  <% end %>
</li> 
