<%= render :partial => '/layouts/header' %>

<div id="wrapper">
  <div id="wrapper-btm">
    <div id="page">
      <div id="insert">
        <%= yield %>
      </div>
      <br />
    </div>
  </div>
</div>

<%= render :partial => '/layouts/footer' %>
